* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 218, 218);
}

#title {
  text-align: center;
  margin-bottom: 2rem;
}

.main {
}

.bar {
  fill: rgb(53, 53, 221);
  cursor: pointer;
}

.bar:hover {
  fill: brown;
}

.bar-text {
  font-size: 6px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  fill: #fff;
  opacity: 0;
}

.bar:hover + .bar-text {
  opacity: 1;
}
