*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotu", sans-serif;
}

:root {
  --dark-primary-color: #512da8;
  --light-primary-color: #d1c4e9;
  --primary-color: #673ab7;
  --text-icons: #ffffff;
  --accent-color: #ff5252;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #bdbdbd;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: rgb(218, 218, 218); */
  background-color: rgb(44, 44, 44);
  color: rgb(245, 245, 245);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.footer {
  padding: 10px;
}

#title {
  text-align: center;
  margin-bottom: 2rem;
}

.chart {
  position: relative;
}

.bar {
  fill: rgb(53, 53, 221);
  cursor: pointer;
}

.bar:hover {
  fill: brown;
}

.bar-text {
  font-size: 6px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  fill: #fff;
  opacity: 0;
}

.bar:hover + .bar-text {
  opacity: 1;
}

.axis-title {
  font-size: 1.2rem;
  color: #000;
}

#y-axis text,
#x-axis text {
  font-size: 0.8rem;
}

#tooltip {
  position: absolute;
  /* display: block; */
  /* height: 100px;
  width: 100px; */
  background-color: blueviolet;
}
